* {
  margin: 0px;
  padding: 0px;
}

#root {
  background-image: linear-gradient(to bottom, #E6DBD0, #7D6167) !important;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  margin: auto;
}